@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}